*{
    margin:0;padding:0;
}
.box{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction:column;
}
.header{
    height:106px;
    background: #393A3F;
    line-height:106px;
}
.header h1{
    position: relative;
    padding-left: 150px;
    color:#fff;
}
.header span{
    position:absolute;
    left: 60px;
}
.section{
    flex: 1;
    background:#818D9B;
    border-radius: 10px;
}
.section .main{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    background:#fff;
    margin-top: 151px;
}
.section .main dl{
    margin-top:59px;
    margin-bottom: 91px;
}
.section .main dl dt{
    width:50%;
    margin-left: auto;
    margin-right: auto;
}
.section .main dl dt img{
    width: 100%;
}
.section .main dl dd{
    text-align: center;
    padding-top:  10px;
}
p{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 71px;
    line-height: 71px;
    border-bottom: 1px solid #999;
}
p input{
    border-width:0;
}
#btn{
    display:block;
    width: 95%;
    height: 60px;
    line-height:60px;
    font-size:20px;
    color: #fff;
    background:#2FBA77;
    text-align:center;
    margin-top: 83px;
    padding-bottom: 150px;
    border-width: 0;
}
